<div class="container-xl">
  <div class="main_container row d-flex ">
    <div class="div-block-1 row d-flex">
        <p class="heading_1">
          Обучающая платформа для программирования в Казахстане
        </p>

        <div class="video-block d-flex ">
          <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/Use_of_C_language.jpg">

          <div class="div-ben d-flex flex-column">

            <div class="benefits_main">
              <strong>
                Актуальные программы
              </strong>
            </div>

            <div class="benefits_main">
              <strong>
                Понятное объяснение
              </strong>
            </div>

            <div class="benefits_main">
              <strong>
                Уроки для школьников, студентов и взрослых
              </strong>
            </div>

          </div>
        </div>

      </div>

    <div class="div-block-2 row d-flex justify-content-center">
      <div class="frm-div row">
        <div class="frm_header">
          Получи консультацию и забронируй скидку
        </div>

        <input type="text" placeholder="Name" >
        <input type="email" placeholder="Email" >
        <input type="tel" placeholder="+7 771 000 99 88" >
        <input class="frm_button " type="submit" value="Забронировать скидку">
      </div>

    </div>
  </div>

  <div class="benefits_section d-flex ">
    <div class="benefits_container justify-content-center">
      <div class="benefit_block">Индивидуальный путь обучения</div>
      <div class="benefit_block">Интерактивные онлайн-уроки с экспертами</div>
      <div class="benefit_block">Бессрочный доступ к материалам</div>
      <div class="benefit_block">Возможность учиться в рассрочку</div>
    </div>
  </div>

  <div class="advantage_container">
    <div class="advantage_header">Преимущества учебы в 2DAYs Academy</div>

    <div class="advantage_grid">
      <div class="advantage_card_left">
        <div class="advantage_card_header">Поддержка на всех этапах</div>
        <div class="adv_ben_text">Наши специалисты помогут разобраться
          в программе, ответят на вопросы по домашним работам, решат любые
          технические сложности и проследят, чтобы вам было комфортно учиться</div>
      </div>

      <div class="advantage_card_right d-flex col">
        <div class="div-block-8">
          <div class="advantage_card_header">Преподаватели — практики</div>
          <div class="adv_ben_text">Вас будут учить эксперты из Mail.ru Group, Kaspi Bank, Home Bank, BCK,
            Kolesa KZ и других топовых компаний. Они поделятся опытом и техниками, которые каждый
            день помогают им в работе
          </div>
        </div>

          <div class="div-block-9">
            <img src="assets/photo1688743262.jpeg">
            <img src="assets/msg1770261144-94603.jpg">
          </div>
      </div>

    </div>
  </div>

</div>
