.heading_1{
  font-size: 54px;
  font-weight: 500;
  line-height: 1.2;

}
.main_container{
  align-items: stretch;
  padding-top: 50px;
}


.div-block-1 {
  width: 65%;
  margin-right: 50px;
}

.video-block{
  width: 100%;
  border-radius: 24px;
  background-color: #f4f5fa;
  padding: 0;
  margin-left: 15px;
  justify-content: flex-start;
  align-items: center;

  & img{
    width: 50%;
    max-width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 18px;
  }

}

.div-ben{
  margin-left: 15px;


  .benefits_main {
    color: #8d46f6;
    background-image: url("https://cdn-icons-png.flaticon.com/512/1053/1053156.png");
    background-repeat: no-repeat;
    background-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 30px;
    font-size: 15px;
    font-weight: 400;
    overflow: visible;
  }
}

.div-block-2{
  background-color: #f4f5fa;
  width: 30%;
  border-radius: 15px;
  max-width: 450px;
  margin-bottom: 0;

  .frm_header{
    text-align: center;
    margin-top: auto;
    margin-bottom: 24px;
    font-size: 25px;
    font-weight: 700;
    font-family: Arial, sans-serif;
  }


  & input{
    width: 100%;
    height: 60px;
    color: #75798a;
    background-color: #fff;
    border: 1px solid #d4d4dd;
    border-radius: 12px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.2;
  }

  .frm_button{
    width: 100%;
    height: 66px;
    color: white;
    background-color: #8d46f6;
    border-radius: 12px;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
}

@media screen and (max-width: 479px){
  .heading_1{
    font-size: 20px;
    line-height: 1;
  }

  .div-block-2{
    width: auto;
    max-width: 315px;
  }

}


@media screen and (max-width: 768px ){

  .heading_1{
    font-size: 30px;
    line-height: 1;
  }

  .div-block-1{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
  }

  .video-block {
    max-width: 370px;
    max-height: 330px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;

    & img{
      width: 100%;
      height: 80%;
    }
  }

  .div-ben{
    margin-top: 10px;
  }

}


@media screen and (max-width: 991px){
  .div-block-1{
    width: auto;
  }
  .div-block-2{
    margin-left: auto;
    margin-right: auto;
    width: 390px;
    margin-top: 50px;
  }

}





