<div class="container-xxl">
  <div class="main_container d-flex">
        <div class="main_content  row d-flex">
          <p class="heading_1">
            Обучающая платформа программирования в Казахстане
          </p>

          <div class="video-block d-inline-block d-flex flex-wrap ">
            <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/Use_of_C_language.jpg">

            <div class="div-block-1 justify-content-center d-flex flex-column">

              <div class="benefits_main">
                <strong>
                  Актуальные программы
                </strong>
              </div>

              <div class="benefits_main">
                <strong>
                  Актуальные программы
                </strong>
              </div>

              <div class="benefits_main">
                <strong>
                  Актуальные программы
                </strong>
              </div>

            </div>
          </div>

        </div>
  </div>

</div>
