<div class="container-xl" id="myhome">
  <div class="main_container row d-flex ">
      <div class="div-block-1 row d-flex col-8">
        <p class="heading_1">
          Обучающая платформа для программирования в Казахстане
        </p>

        <div class="video-block d-flex ">
          <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/Use_of_C_language.jpg">

          <div class="div-ben d-flex flex-column">

            <div class="benefits_main">
              <strong>
                Актуальные программы
              </strong>
            </div>

            <div class="benefits_main">
              <strong>
                Понятное объяснение
              </strong>
            </div>

            <div class="benefits_main">
              <strong>
                Уроки для школьников, студентов и взрослых
              </strong>
            </div>

          </div>
        </div>

      </div>

      <div class="div-block-2 row d-flex ">
        <div class="main_slogan">
          <h1>
            Grow your Skills,<br> <br> Define your Future.
          </h1>
        </div>

        <div class="txt_motivation ">
          <p>
            We teach you the right skills to be prepared for tomorrow.
          </p>
        </div>

        <div class="btn-block row justify-content-center">

          <button (click)="$event" class="col-4">
            Our Courses
          </button>

          <button (click)="$event"  class="col-4">
            About Us
          </button>

        </div>

      </div>
  </div>

</div>
