.mylogo {
  height: 100px;
  background-color: rgb(33, 37, 41);

  &_img {
    margin-left: 90px;
    &:hover{
      cursor: pointer;

    }
  }
}

.nav-link {
  color: white;
  font-size: 30px;
}

.nav_item_active {
  a {
    color: yellow !important;
  }

}
.container-fluid{
  padding: 10px;
}
.my_nav{
  margin-right: 180px;
  padding: 2px;

}
li{
  display: inline-block;
  margin-right: 20px;
}
.nav-link{
 font-size: 30px;
  &:hover{
    font-weight: lighter;
    color: rgb(141, 70, 246);
    text-decoration: underline;
  }
}
.txt_login{
  width: 130px;
  margin-top: 30px;
  color: white;
  padding-left: 11px;

  border-radius: 10px;
  border: 1px solid white;
  &:hover{
    cursor: pointer;
    color: rgb(141, 70, 246);
    font-size: 16px;

    margin-right: 20px;
  }

}

.authdiv{
  padding:0px;
}
.authrow{
  margin: 0;
}
