.mylogo {
  height: 100px;
  background-color: rgb(33, 37, 41);

  &_img {
    margin-left: 90px;
  }
}

.nav-link {
  color: white;
  font-size: 30px;
}

.nav_item_active {
  a {
    color: yellow !important;
  }
}
.container-fluid{
  padding: 10px;
}
.my_nav{
  margin-right: 180px;
}
