<div class="userhome">
  <p class="userhome_title">Добро пожаловать {{username}}! </p>
  <div class="userhome_block">
    <img class="userhome_block_img" src="https://cs10.pikabu.ru/post_img/2020/10/22/3/1603338597143649487.jpg">
    <div class="userhome_block_right">
      <p class="userhome_block_right_txt">
        Добро пожаловать, уважаемый {{username}}!<br>

        Вы - ключевой игрок в нашей образовательной платформе, и ваша роль является одной из наиболее важных. Ваша задача - обеспечивать удобство и эффективность управления курсами, учителями и учениками. Мы верим, что ваша экспертиза и навыки сделают нашу платформу лучше, и мы рады видеть вас здесь.<br>

        <b>Ваши возможности включают:</b><br><br>

        1.Управление курсами: Вы можете создавать, редактировать и удалять курсы, делая их доступными для учителей и учеников.<br>
        2.Распределение ролей: Вы можете назначать учителей и учеников на курсы и управлять их правами доступа.<br>
        3.Обратная связь: Ваше мнение о курсах и уроках имеет значение. Мы приветствуем ваши рекомендации и отзывы.<br>
        4.Коммуникация: Вы можете общаться с учителями, учениками и другими менеджерами, обмениваться опытом и решать текущие вопросы.<br>
        5.Мониторинг: Вы можете следить за успеваемостью учеников и эффективностью курсов.<br>
        <br>
        Вы - часть нашей образовательной команды, и мы гордимся тем, что у вас есть возможность сделать разницу. Спасибо за ваш вклад и за ваше участие в нашем образовательном сообществе."

        С уважением,{{username}}
      </p>
    </div>

  </div>
</div>
