.list-group {
  display: block;
  position: absolute;
  transform: translate(-50%, 0);
  background-color: rgb(33, 37, 41);
  color: #000;
  z-index: 100;
  box-shadow: 0px 0px 32px rgba(80, 92, 100, 0.06),
  0px 4px 20px rgba(42, 53, 61, 0.1);
  border-radius: 1px;
  padding: 24px;
}

.my_txt {
  font-size: 30px;
  color: white;
  margin-top: 9px;

  &:hover {
    font-weight: lighter;
    color: rgb(141, 70, 246);
    text-decoration: underline;
  }
}

.mydropdown {
  height: 100%;

}

.img_arrow {
  margin-left: 4px;
  margin-top: 9px;
}

.mydrop {
  display: flex;
  flex-direction: row;

  width: 100%;
}

.list-group {
  border-radius: 10px;
  background-color: #FFFFFF;
  border: none !important;
  padding: 0;
}
