<div class="container-main d-flex justify-content-center">
  <div class="container_choice col-9 d-flex justify-content-center">
    <div class="choices">
      <div class="choice_icon d-flex justify-content-center">
        <img src="assets/student_icon.jpg" style="height: 100px; width: 100px">
      </div>

      <div class="choices_button">
        <button (click)="addStudent()">
          Добавить ученика
        </button>

        <button>
          Обновить ученика
        </button>

        <button>
          Удалить ученика
        </button>
      </div>
    </div>

    <div class="choices">
      <div class="choice_icon d-flex justify-content-center">
        <img src="assets/teacher_icon.jpg" style="height: 100px; width: 100px">
      </div>

      <div class="choices_button">
        <button (click)="addTeacher()">
          Добавить учителя
        </button>

        <button>
          Обновить учителя
        </button>

        <button>
          Удалить учителя
        </button>
      </div>
    </div>

    <div class="choices">
      <div class="choice_icon d-flex justify-content-center">
        <img src="assets/courses_icon.png" style="height: 100px; width: 100px">
      </div>

      <div class="choices_button">
        <button (click)="addCourse()">
          Добавить курс
        </button>

        <button (click)="updCourse()">
          Обновить курс
        </button>

        <button (click)="deleteCourse()">
          Удалить курс
        </button>
      </div>
    </div>

  </div>
</div>



