#header {
  height: 150px;
  width: 30%;
  position: relative;
  left:800px;
}
.userpage{
  display: flex;
  flex-direction: row;
}
.my_footer {
  position: relative;
}

.myhead {
  z-index: 100;
  position: fixed;
  width: 100%;
}

.my_router {
  width: 100%;
  position: relative;
  margin-bottom: 400px;
}
